<html>
  <head>
    <title>Sappoing</title>
    <script src="//cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/static/style.css">
  </head>
  <body>

    <center>
      <h1>Sappoing</h1>
      <div class = "ratio ratio-16x9">
        <video height="600" id="video"  controls autoplay></video>
      </div>
    </center>

    <script>
      var video = document.getElementById('video');
      if (Hls.isSupported()) {
        var hls = new Hls({

            liveDurationInfinity: true,
            //debug: true,
            autoStartLoad: true,
            maxBufferLength: 60,
        });
        hls.loadSource('http://localhost:8080/vid_src/zapp.m3u8');
        hls.attachMedia(video);
        hls.on(Hls.Events.MEDIA_ATTACHED, function () {
          video.muted = true;
          video.play();

        });
      }
      else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = 'http://localhost:8080/vid_src/zapp.m3u8';
        video.addEventListener('canplay', function () {
          video.play();
        });
      }
    </script>
  </body>
</html>